:root{
    --font: 'Poppins', sans-serif;
    --color-secondary: hsl(225, 62%, 66%);
    --color-secondary-dark: hsl(225, 61%, 58%);
    --color-secondary-light: hsl(231, 17%, 76%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font)
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 2;
}

.logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .logo-image{
    width: 200px;
} */

.logo-text{
    font-size: 30px;
    font-weight: 400;
}

.navbar{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex: 2;
}

.nav-items{
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
}

.title{
    font-weight: 600;
    font-size: 60px;
}


.avatar-image{
    width: 400px;
}

.bars{
    display: none;
    font-size: 30px;
}

.aside{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 70px;
    gap: 100px;
}

.lines{
    display: flex;
    position: relative;
    justify-content: center;
}

.complete-line{
    border: 2px solid var(--color-secondary-light);
    height: 200px;
}

.progress-line{
    position: absolute;
    border: 2px solid var(--color-secondary-dark);
    height: 50px;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
    
}

/* .fa-brands{
    color: var(--color-secondary-dark)
} */

.cross{
    display: none;
}

.about{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
}

.about-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.description-container{
    width: 35%;
}

.skills-container{
    width: 35%;
}

.btn-about{
    width: 100px;
    height: 50px;
    background-color: var(--color-secondary);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 10px;
}

.skill {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.heading{
    margin: 0 auto;
}

.subheading{
    margin: 0 12%;
    margin-top: 50px;
}

.projects{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.project{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image > img{
    width: 80%;
}

.project-details{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}

.project-files{
    width: 110px;
    height: 40px;
    background-color: var(--color-secondary);
    color: white;
    font-size: 15px;
    border: none;
}

.contact{
    width: 100%;
    height: calc(100vh - 160px);
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.contact-container{
    width: 100%;
}

.question{
    margin-top: 10px;
}

.btn-contact{
    width: 120px;
    height: 50px;
    color: white;
    background-color: var(--color-secondary);
    border: none;
    font-size: 20px;
    margin-top: 30px;
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

@media only screen and (max-width: 1200px) {
    .project-image > img{
        width: 100%;
    }
}

@media only screen and (max-width: 1080px) {
    .aside{
        display: none;
    }

    .avatar-image {
        width: 300px;
    }

    .project-details{
        width: 40%;
    }
}

@media only screen and (max-width: 800px){
    .hero{
        flex-direction: column;
    }

    .navbar{
        flex: 1;
        
    }

    .title, .sub-title{
        text-align: center;
    }

    .logo-image {
        width: 150px;
    }

    .nav-items{
        position: absolute;
        flex-direction: column;
        left: 40%;
        top: 100px;
        z-index: 2;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .nav-items a{
        color: white;
    }

    .modal, .nav-items{
        display: none;
    }

    .bars {
        display: flex;
    }

    .hide {
        display: none;
    }

    .show{
        display: flex;
    }

    .modal{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .cross{
        z-index: 2;
        font-size: 30px;
        color: white;
    }

    .bars{
        z-index: 2;
    }

    .about {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .about-container {
        flex-direction: column;
        gap: 50px;
        margin-top: 30px;
    }

    .description-container {
        padding: 10px;
        width: 100%;
    }

    .skills-container {
        padding: 10px;
        width: 100%;
    }

    .about{
        height: max-content;
    }

    .skills{
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }

    .project{
        flex-direction: column;
        gap: 20px;
    }

    .project-image{
        width: 60%;
        margin: 0 auto;
    }

    .project-details{
        width: 100%;
        padding: 10px;
    }

    .project-description{
        text-align: justify;
    }

    .project-files{
        margin: 0 auto;
    }

    .subheading{
        margin: 0;
        margin-left: 10px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 400px){
    .nav-items{
        left: 35%;
    }

    .navbar{
        padding-right: 10px;
        justify-content: flex-end;
    }

    .about {
        padding-top: 10px;
    }

    .about-container {
        margin-top: 10px;
        gap: 10px;
    }

    .project-image{
        width: 80%;
    }
}