@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf);
}

:root{
    --font: 'Poppins', sans-serif;
    /* --color-secondary: #738dde; */
    --color-secondary: #55F;
    --color-secondary-dark: hsl(225, 61%, 58%);
    /* --color-secondary-light: hsla(225, 83%, 68%, 0.267); */
    --color-secondary-light: hsla(225, 61%, 58%, 0.253);
    /* --text-color: hsl(240, 1%, 43%); */
    --text-color: hsl(240, 1%, 37%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: #0e1111;
}

html{
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white;
    background-color: var(--color-secondary-dark);
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 2;
}

.logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .logo-image{
    width: 200px;
} */

.logo-text{
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.navbar{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex: 2;
}

.nav-items{
    display: flex;
    gap: 40px;
    font-size: 20px;
    cursor: pointer;
}

.nav-items > li{

    color: white;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
    color:  #0e1111;
    /* color: var(--color-secondary); */
}

.hero-heading{
    color: var(--color-secondary-dark);
}

.title{
    font-weight: 600;
    font-size: 60px;
}


.avatar-image{
    width: 400px;
}

.bars{
    display: none;
    font-size: 30px;
}

.aside{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 70px;
    gap: 100px;
}

.lines{
    display: flex;
    position: relative;
    justify-content: center;
}

.complete-line{
    border: 2px solid hsl(225, 43%, 80%);
    height: 200px;
}

.progress-line{
    position: absolute;
    border: 2px solid var(--color-secondary-dark);
    height: 50px;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
}

/* .fa-brands{
    color: var(--color-secondary-dark)
} */

.cross{
    display: none;
}

.about{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--color-secondary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
}

.about-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.description-container{
    width: 35%;
}

.skills-container{
    width: 35%;
}

.btn-about{
    width: 100px;
    height: 50px;
    background-color: var(--color-secondary-dark);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 10px;
}

.skill {
    background-color: var(--color-secondary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.skill > p{
    color: white;
}

.heading{
    margin: 0 auto;
    font-size: 40px;
}

.description{
    font-size: 20px;
    color: var(--text-color);
}

.subheading{
    margin: 0 12%;
    margin-top: 50px;
}

.subheading-font{
    font-size: 25px;
}

.projects{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.project{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-title{
    font-size: 25px;
}


.overlay{
    position: absolute;
    top: 5px;
    width: 60%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    opacity: 0;
}

.overlay a{
    color: white;
}

.overlay:hover{
    opacity: 1;
}

.project-image > img{
    width: 80%;
}

.project-details{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    gap: 5px;
}


.project-description{
    text-align: justify;
    font-size: 18px;
    color: var(--text-color);
}

.project-files{
    /* width: 120px; */
    /* height: 40px; */
    background-color: var(--color-secondary-dark);
    color: white;
    font-size: 15px;
    border: none;
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
    margin: 0 auto 0 0 ;
}

.contact{
    width: 100%;
    height: calc(100vh - 160px);
    background-color: var(--color-secondary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.contact-container{
    width: 100%;
}

.question{
    margin-top: 10px;
    color: var(--text-color);
    font-size: 20px;
}

.btn-contact{
    width: 120px;
    height: 50px;
    color: white;
    background-color: var(--color-secondary-dark);
    border: none;
    font-size: 20px;
    margin-top: 30px;
}

.btn-contact > a{
    color: white;
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-light);
    /* color: var(--color-secondary-dark); */
}

section{
    transition: opacity .5s linear, transform .5s linear;
}

.animate{
    
    opacity: 0;
    transform: translateY(-50px);
}

@media only screen and (max-width: 1200px) {
    .project-image > img{
        width: 100%;
    }
}

@media only screen and (max-width: 1080px) {
    .aside{
        display: none;
    }

    .avatar-image {
        width: 300px;
    }

    .project-details{
        width: 40%;
    }

    .overlay{
        
        width: 75%;
        height: 85%;
    }
}

@media only screen and (max-width: 800px){
    .hero{
        flex-direction: column;
    }

    .navbar{
        flex: 1;
        
    }

    .title, .sub-title{
        text-align: center;
    }

    .logo-image {
        width: 150px;
    }

    .nav-items{
        position: absolute;
        flex-direction: column;
        left: 40%;
        top: 100px;
        z-index: 2;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .nav-items li{
        color: white;
    }

    .modal, .nav-items{
        display: none;
    }

    .bars {
        display: flex;
    }

    .hide {
        display: none;
    }

    .show{
        display: flex;
    }

    .modal{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .cross{
        z-index: 2;
        font-size: 30px;
        color: white;
    }

    .bars{
        z-index: 2;
    }

    .about {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .about-container {
        flex-direction: column;
        gap: 50px;
        margin-top: 30px;
    }

    .description-container {
        padding: 10px;
        width: 100%;
    }

    .skills-container {
        padding: 10px;
        width: 100%;
    }

    .about{
        height: max-content;
    }

    .skills{
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }

    .project{
        flex-direction: column;
        gap: 20px;
    }

    .project-image{
        width: 60%;
        margin: 0 auto;
    }

    .project-details{
        width: 100%;
        padding: 10px;
    }


    .project-files{
        margin: 0 auto;
    }

    .subheading{
        margin: 0;
        margin-left: 10px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 400px){
    .nav-items{
        left: 35%;
    }

    .navbar{
        padding-right: 10px;
        justify-content: flex-end;
    }

    .about {
        padding-top: 10px;
    }

    .about-container {
        margin-top: 10px;
        gap: 10px;
    }

    .project-image{
        width: 80%;
    }
}